.recent-posts{
    background-color:#EDF7FA;
    padding: 25px 0 13px 0;
    @media (max-width:576px) {
        padding: 25px 0 23px 0;          
    }

    &__container{
        max-width: 856px;
        margin: 0 auto;
        @media (max-width:768px) {
            max-width: 565px;            
        }
        @media (max-width:576px) {
            max-width: 520px;           
        }
        @media (max-width:360px) {
            max-width: 290px;           
        }
    }
    &__header{
        display: flex;
        margin: 0 0 20px 0;
    }
    &__title{
        padding: 0 20px 0 0;
        flex: 1 1 auto;
        font-size: 22px;
    }
    &__view-all{
        flex: 0 0 auto;
        color:#00A8CC;
        font-size: 16px;
        line-height: 24 /16 * 100%;
        @media (max-width: 576px) {
            display: none;            
        }
    }
    &__items{
        margin: 0px -10px;
        @media (min-width: 576px) {
            display: flex;            
        }
    }
    &__column{
        flex: 0 1 50%;
        padding: 0px 10px;
        margin: 0 0 17px 0;
    }
    &__item{}
}

.title-posts{
    font-size: 22px;
    @media (max-width: 576px) {
        text-align: center;
        font-size: 18px;          
    }
}

.recent-post{
    height: 100%;
    background-color: #fff;
    border-radius:4px;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);   
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    padding: 20px;
    @media (max-width:576px) {
        padding: 15px;        
        }
    *:last-child{
        margin-bottom: 0;
    }
    &__title{
        display: inline-block;
        color:inherit;
        font-size: 26px;
        font-weight: 700;
        line-height: 38 / 26 * 100%;
        transition: color 0.3s ease 0s;
        -webkit-transition: color 0.3s ease 0s;
        -moz-transition: color 0.3s ease 0s;
        -ms-transition: color 0.3s ease 0s;
        -o-transition: color 0.3s ease 0s;
        margin: 0 0 17px 0;
        @media(max-width: 768px) {
            &:hover{
                color:#FF6464;
            }         
        }
        @media (max-width:576px) {
        font-size: 22px;         
        }
    }
    &__info{
        margin: 0 0 15px 0;
        font-size: 18px;
        line-height: 26 / 18 *100%;
        span{
            margin: 0 10px;
        }
        @media (max-width:576px) {
            font-size: 16px;         
            }
    }
    &__text{
        font-size: 16px;
    }
}
