.works{
    &__item{
        padding: 0 0 30px 0;
        margin: 0 0 30px;
        border-bottom: 1px solid #E0E0E0;
        &:last-child{
            margin-bottom: 0;
        }
        @media (min-width: 576px) {
            display: flex;
            align-items: flex-start;
        }
        // @media (max-width: 576px) {
        //     flex: 0 0 90%;
        //     margin: 0 15px 0 0;
        // }
    }
    &__image{
        flex: 0 0 246px;
        display: block;
        border-radius: 6px    ;
        -webkit-border-radius: 6px    ;
        -moz-border-radius: 6px    ;
        -ms-border-radius: 6px    ;
        -o-border-radius: 6px    ;
        min-height: 180px;
        overflow: hidden;
        @media (max-width: 576px) {
            margin: 0 0 17px 0;
            padding: 0 0 60% 0;
        }
}
    &__body{
        flex: 1 1 auto;
        @media (min-width: 576px) {
            padding: 0 0 0 18px;
        }
    }
    &__title{
        color:inherit;
        display: inline-block;
        font-weight: 700;
        font-size: 30px;
        line-height: 44 / 30 * 100%;
        margin: 0 0 15px 0;
        @media (max-width: 576px) {
            font-size: 24px;
        }
    }
    &__info{
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;
    }
    &__year{
        background-color:#142850;
        border: radius 16px;    ;
        -webkit-border-radius:16px    ;
        -moz-border-radius:16px    ;
        -ms-border-radius:16px    ;
        -o-border-radius:16px    ;
        height: 25px;
        padding: 0px 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 900;
        font-size: 18px;
}
    &__category{
        color: #8695A4;
        font-size: 20px;
        margin: 0 0 0 25px;
    }
    &__text{
        font-size: 16px;
    }
    
}
